.dashboard-news-state {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.state-headline {
  font-size: 24px;
  margin-bottom: 40px;
}

.state-wrapper {
  width: 100%;
  padding: 0 20px;
}

.state-headers {
  width: 100%;
  display: flex;
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.state-header {
  font-size: 22px;
  display: flex;
  justify-content: center;
}

.state-item-tags {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

.state-item-tag {
  flex-grow: 1;
  font-size: 19px;
}

.state-item-container {
  display: flex;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
}

.state-item {
  margin-right: 10px;
  border-right: 0.5px solid rgba(0, 0, 0, 0.2);
}
