.main__highlight {
  grid-template-columns: 40% 40%;
  gap: 15px;
  position: relative;
  padding-bottom: 44px;
  margin-bottom: 40px;
}

.see-more-btn {
  position: absolute;
  right: 10%;
  bottom: 10px;
  color: black;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.see-more-btn:hover {
  color: black;
  text-decoration: underline;
}
